# 4.8 Task

In [3]:
# Import relevant libraries and dataframe

In [4]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [5]:
# Import data
ords_prods_merge = pd.read_pickle(r"C:\Users\User\Documents\07-2022 Instacart Basket Analysis\02 Data\Prepared Data\orders_products_merged.pkl")

In [8]:
# Find aggregated mean of order_number for entire data frame

In [9]:
# Group by product name
ords_prods_merge.groupby('product_name')

In [10]:
# View mean values for entire data frame
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

#### Analyze the result -- for the most part, the subset was a pretty accurate representation of the entire population

In [11]:
# Create a loyalty flag for existing customers

In [17]:
# Group by user id
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [18]:
# Create flag 'loyal customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [19]:
# Create flag 'regular customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [20]:
# Create flag 'new customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [21]:
# Print frequency
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [25]:
# show price average by loyalty flag

In [26]:
# show price average by loyalty flag
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean']})

                     prices
                       mean
loyalty_flag
Loyal customer    10.386336
New customer      13.294670
Regular customer  12.495717

In [27]:
# Create flag based on spending habits

In [45]:
# Create column for average price
ords_prods_merge['avg_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.average)

In [46]:
# View new column
ords_prods_merge.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,...,reordered,_merge,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,med_freq
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,...,0,both,Regularly busy,Busiest days,Fewest orders,32,Regular customer,6.935811,Low spender,8.0
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,...,1,both,Regularly busy,Busiest days,Fewest orders,32,Regular customer,6.935811,Low spender,8.0
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,...,0,both,Busiest day,Busiest days,Fewest orders,5,New customer,7.930208,Low spender,8.0
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,...,0,both,Regularly busy,Busiest days,Fewest orders,3,New customer,4.972414,Low spender,9.0
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,...,1,both,Least busy,Busiest days,Fewest orders,3,New customer,4.972414,Low spender,9.0

In [47]:
# Create flag 'low spender'
ords_prods_merge.loc[ords_prods_merge['avg_price'] < 10, 'spending_flag'] = 'Low spender'

In [48]:
# Create flag 'high spender'
ords_prods_merge.loc[ords_prods_merge['avg_price'] >= 10, 'spending_flag'] = 'High spender'

In [49]:
# Print frequency
ords_prods_merge['spending_flag'].value_counts(dropna = False)

Low spender     31770649
High spender      634210
Name: spending_flag, dtype: int64

In [50]:
# Create flag based on frequency

In [51]:
# Create column for median frequency
ords_prods_merge['med_freq'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [52]:
# View new column
ords_prods_merge.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,...,reordered,_merge,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,med_freq
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,...,0,both,Regularly busy,Busiest days,Fewest orders,32,Regular customer,6.935811,Low spender,8.0
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,...,1,both,Regularly busy,Busiest days,Fewest orders,32,Regular customer,6.935811,Low spender,8.0
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,...,0,both,Busiest day,Busiest days,Fewest orders,5,New customer,7.930208,Low spender,8.0
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,...,0,both,Regularly busy,Busiest days,Fewest orders,3,New customer,4.972414,Low spender,9.0
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,...,1,both,Least busy,Busiest days,Fewest orders,3,New customer,4.972414,Low spender,9.0

In [53]:
# Create flag 'non-frequent customer'
ords_prods_merge.loc[ords_prods_merge['med_freq'] > 20, 'freq_flag'] = 'Non-frequent customer'

In [54]:
# Create flag 'regular customer'
ords_prods_merge.loc[(ords_prods_merge['med_freq'] <= 20) & (ords_prods_merge['med_freq'] > 10), 'freq_flag'] = 'Regular customer'

In [55]:
# Create flag 'frequent customer'
ords_prods_merge.loc[ords_prods_merge['med_freq'] <= 10, 'freq_flag'] = 'frequent customer'

In [57]:
# Ensure notebook is clean

In [58]:
#Export data

In [59]:
# Create path
path = r'C:\Users\User\Documents\07-2022 Instacart Basket Analysis'

In [60]:
# Export data
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))